@font-face {  
    font-family: hearts;
    src: url('./assets/Hearts.ttf') format('truetype');
}

body {
    margin: 0px;
    background: url('./assets/rainbowclouds.jpeg');
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'hearts';
    height: 15vh;
    font-size: 70px;
    color: #52307C;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85vh;
}

p {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 60px;
    font-family: 'hearts';
    color: #F25278;
}
.player-2, .player-1 {
    width: 25%;
    height: 100%;
    text-align: center;
}

.game-area {
    width: 50%;
    height: 90%;
    text-align: center;
    background-color: rgba(255, 245, 238, .80)
}

table {
    width: 70%;
    height: 70%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 40px;
}

td {
    width: 33.333%; 
    height: 33.333%; 
    padding: 8px;
    font-size: 60px;
    text-align: center;
    border: 6px solid #FC94AF;
}
  
td::after {
    content: '';
    display: block;
}

.top1, .mid1, .bottom1 {
    border-left-color: transparent;
    border-top-color: transparent;
}

.top2 {
    border-top-color: transparent;
}

.top3, .mid3, .bottom3 {
    border-right-color: transparent;
    border-top-color: transparent;
}

.bottom1, .bottom2, .bottom3 {
    border-bottom-color: transparent;
}